{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <p class="level-item has-text-centered is-size-3">ScheduleIt</p>
      </a>
    </div>
    {% if request.user.is_authenticated %}
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'dashboard' %}">
          My dashboard
        </a>
        <a class="navbar-item" href="{% url 'calendar' %}">
          Calendar
        </a>
        <a class="navbar-item" href="{% url 'settings' %}">
          Settings
        </a>
      </div>
      {% if request.user.is_authenticated %}
        <div class="navbar-end">
          <div class="navbar-item">
            <p>
              Hello {{ request.user.first_name|default:request.user.username }}
              <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" >
                  <strong> Log out</strong>
                </button>
              </form>
            </p>
          </div>
        </div>
    
      {% endif %}
    </div>
    {% endif %}
    
  </nav>
  
  <div id="columns">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
