<div>
    <body>
        <h1>Bienvenido a la Pagina principal de Schedule-it</h1>
        <p>Esta es la pagina principal de Schedule-it, aqui podras encontrar todas las opciones que necesitas para organizar examenes de forma rapida y sencilla</p>
        <p>Para comenzar a utilizar la aplicacion, por favor inicia sesion o registrate si no tienes una cuenta</p>
        <p>lo que necesitaremos para que podamos ayudarte de la manera mas sencilla es lo siguiente</p>
        <li>Nombre de la materia</li>
        <li>Nombre del profesor</li>
        <li>Tu documento o una imagen del pacto pedagogico</li>
        <p><b>En caso de algun cambio a lo largo del semestre puedes cambiarlo manualmente</b></p>
        <button>Pacto Pedagogico</button>
    </body>
</div>
