{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Evaluation_detail{% endblock %}</title>
</head>
<body>
    <div class="columns">
        <div class="column is-half">
            <h1 class="is-size-3 mt-3">Evaluation</h1>
            <p class="is-size-5">Information about your evaluation:</p>
            <div class="Evaluacion">
                <p><span class="fw-bold">Name:</span> {{ evaluacion.nombre }}</p>
                <p><span class="fw-bold">Subject:</span> {{ evaluacion.materia }}</p>
                <p><span class="fw-bold">Date:</span> {{ evaluacion.fecha }}</p>
                <p><span class="fw-bold">Time:</span> {{ evaluacion.hora }}</p>
                <p><span class="fw-bold">Time_end:</span> {{ evaluacion.hora_fin }}</p>
                <p><span class="fw-bold">Place:</span> {{ evaluacion.lugar }}</p>
                <p><span class="fw-bold">Description:</span> {{ evaluacion.descripcion }}</p>
                <div class="text-end mt-3">
                    <a href="{% url 'calendar' %}" class="button is-dark">
                        Back
                    </a>
                    <a href="{% url 'evaluacion_update' evaluacion.id %}" class="button is-link">
                        Edit evaluation
                    </a>
                    <a href="{% url 'evaluacion_delete' evaluacion.id %}" class="button is-danger">
                        Delete evaluation
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}