{% extends "base.html" %}
{% block title %}Evaluacion_create{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-half">
        <h1 class="is-size-3 mt-3">Edit an evaluation</h1>
        <p class="is-size-5">Please, edit the following form:</p>
        <div class="EvaluacionForm">
            <form action="" method="post" class="mt-5">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="text-end mt-3">
                    <a href="{% url 'calendar' %}" class="btn btn-light me-2">
                       Cancel
                    </a>
                    <button class="btn btn-primary">
                       Edit evaluation
                    </button>
                    <a href="{% url 'evaluacion_delete' evaluacion.id %}" class="btn btn-light me-2">
                        Delete evaluation
                     </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}