{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Evaluation_update{% endblock %}</title>
</head>
<body>
    <div class="columns">
        <div class="column is-half">
            <h1 class="is-size-3 mt-3">Edit an evaluation</h1>
            <p class="is-size-5">Please, edit the following form:</p>
            <div class="EvaluacionForm">
                <form action="" method="post" class="mt-5">
                    {% load widget_tweaks %}
                    {% for field in form %}
                        {{field.label_tag}}
                        {% render_field field class+="input mt-2" %}
                    {% endfor %}
                    {% csrf_token %}
                    <div class="text-end mt-3">
                        <a href="{% url 'calendar' %}" class="button is-dark">
                        Cancel
                        </a>
                        <button class="button is-success">
                        Edit evaluation
                        </button>
                        <a href="{% url 'evaluacion_delete' evaluacion.id %}" class="button is-danger">
                            Delete evaluation
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}