{% extends "base.html" %}
{% block title %}Evaluacion_create{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-half">
        <h1 class="is-size-3 mt-3">Delete an evaluation</h1>
        <div class="EvaluacionForm">
            <form action="" method="post" class="mt-5">
                <p>Are you sure you want to delete this evaluation?</p>
                {% csrf_token %}
                <span class="fw-bold">{{ evaluacion.nombre }}</span> - <span class="fw-bold">{{ evaluacion.materia }}</span>
                <div class="text-end mt-3">
                    <a href="{% url 'calendar' %}" class="btn btn-light me-2">
                       Cancel
                    </a>
                    <button class="btn btn-danger">
                       Delete evaluation
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}